.wrapper {
  list-style: none;
  margin: var(--spacing-medium) 0 var(--spacing);
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  display: inline-block;
  margin-right: 40px;
}

/* https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md#case-i-understand-the-previous-cases-but-still-need-an-element-resembling-a-link-that-is-purely-clickable */
.btn {
  color: var(--gray);
}

.btn.active {
  border-bottom: 1px solid var(--black);
  padding: 0 0 3px;
}

.btn.active,
.btn:hover {
  color: var(--black);
}
