.wrapper {
  list-style: none;
  margin: var(--spacing-medium) 0 var(--spacing);
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  display: inline-block;
  margin-right: 40px;
}

.btn {
  color: var(--gray);
}

.btn.active {
  border-bottom: 1px solid var(--black);
  padding: 0 0 3px;
}

.btn.active,
.btn:hover {
  color: var(--black);
}
