.wrapper {
  margin-top: var(--spacing);
  padding: var(--spacing);
}

.blue {
  composes: wrapper;

  background: var(--blue);
  color: var(--white);
}

.blue a {
  color: var(--white);
}

.gray {
  composes: wrapper;

  background: var(--gray-lighter);
}
