.wrapper {
  list-style: none;
  margin: var(--spacing-medium) 0 var(--spacing);
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper > li {
  color: var(--grey);
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 3px;
}

.wrapper > li:hover,
.wrapper > li.active {
  color: var(--black);
}

.wrapper > li.active {
  border-bottom: 1px solid var(--black);
}
