.wrapper {
  composes: wrapper from "../styles/footer.module.css";
}

.wrapper > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--spacing-large);
}

.wrapper > div > div:first-child {
  height: 200px;
  margin-right: 50px;
  width: 200px;
}

@media (max-width: 739px) {
  .wrapper > div {
    align-items: flex-start;
    flex-direction: column;
  }

  .wrapper > div > div:first-child {
    height: 145px;
    margin-bottom: 20px;
    margin-right: 0px;
    width: 145px;
  }
}
