.wrapper {
  display: block;
}

.image > div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  margin-top: var(--spacing-xsmall);
}

.subtitle {
  color: var(--grey);
  margin-top: 0;
}
