.form {
  margin-top: var(--spacing-xsmall);
}
.checkbox input[type="checkbox"] {
  margin-right: var(--spacing-xsmall);
}

.checkbox > label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  margin: var(--spacing-xsmall) 0;
}

.checkbox > label > span {
  text-transform: capitalize;
}

.saveSetting {
  margin: var(--spacing-xsmall) 0;
  background-color: transparent;
  color: var(--black);
  border: 1px solid black;
  font-size: var(--font-size-small);
  padding: 10px 20px;
}

.saveSetting:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid black;
}

/* TODO: Color and sizing under this part should come as part of whole website variable */
.switcher {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

.switcher:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.switcher:checked {
  box-shadow: inset 20px 0 0 0 #4ed164;
  border-color: #4ed164;
}

.switcher:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
