.wrapper {
  margin-bottom: calc(5vh + var(--spacing));
}

.content {
  margin-top: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.content > h1 {
  max-width: 960px;
  width: 100%;
}

.subtitle {
  margin-top: var(--spacing-small);
}

.video,
.image {
  margin-top: calc(5vh + var(--spacing));
}

.video {
  composes: wrapper from "../styles/asset-content.module.css";
}

.image {
  composes: wrapper from "../styles/asset-content.module.css";

  height: 45vw;
}

.image > div {
  height: 100%;
  width: 100%;
}

@media (max-width: 1399px) {
  .content > h1 {
    width: calc(80vw - 2 * var(--spacing));
  }

  .video,
  .image {
    margin-top: calc(3vh + var(--spacing));
  }
}

@media (max-width: 799px) {
  .wrapper {
    padding-top: var(--spacing-medium);
  }

  .image {
    height: 80vw;
  }
}

@media (max-width: 739px) {
  .content > h1 {
    width: calc(85vw - 2 * var(--spacing));
  }

  .subtitle {
    width: 85vw;
  }
}
