.wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--spacing);
}

.left {
  height: 45vw;
  margin-bottom: calc(var(--spacing) * 2);
  margin-left: 0;
  margin-right: calc(15vw + var(--spacing));
  position: relative;
}

.left > div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.center {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}

.wrapper > div {
  flex: 1;
  margin-bottom: var(--spacing-small);
  width: 100%;
}

.wrapper > div:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper > div {
    margin-bottom: 0;
    margin-right: var(--spacing-small);
  }
}
