.wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 160px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0 var(--spacing);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media (max-width: 799px) {
  .wrapper {
    height: 120px;
  }
}

.logo {
  display: block;
  opacity: 1;
  position: relative;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: var(--animation-ease);
  width: 55px;
}

.logo.hidden {
  opacity: 0;
}
