.logo {
  --logo-height: 52px;
  display: block;
  height: var(--logo-height);
  position: fixed;
  left: var(--spacing);
  opacity: 1;
  top: calc((var(--height-navbar) - var(--logo-height)) / 2);
  /*
   * css trick so that the logo becomes hidden once it's transparent
   * https://css-tricks.com/snippets/css/toggle-visibility-when-hiding-elements/
   */
  transition: visibility 0s var(--animation-ease) 0s, opacity 200ms var(--animation-ease);
  visibility: visible;
  width: 55px;
  z-index: 20;
}

.logo.hidden {
  opacity: 0;
  transition: visibility 0s var(--animation-ease) 200ms, opacity 200ms var(--animation-ease);
  visibility: hidden;
}

.toggle {
  --toggle-height: 50px;
  top: calc((var(--height-navbar) - var(--toggle-height)) / 2);
  position: fixed;
  right: var(--spacing);
  z-index: 20;
}