.wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.wrapper:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 799px) {
  .wrapper {
    flex-direction: column;
  }
}
