.wrapper {
  margin-top: var(--spacing);
}

.video {
  composes: wrapper from "../styles/asset-content.module.css";
}

.image {
  composes: wrapper from "../styles/asset-content.module.css";

  height: 45vw;
}

.image > div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 799px) {
  .image {
    height: 80vw;
  }
}
