.wrapper {
    --box-size: 50px;
    --v-padding: 16px;
    --h-padding: 12px;

    padding: var(--v-padding) var(--h-padding);
    width: var(--box-size);
    height: var(--box-size);
    box-sizing: border-box;
    background: white;
}

.innerWrapper {
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-right: -15px;
  position: relative;
  transition: 250ms;
}

.innerWrapper > span {
  height: 2px;
  transition: all 250ms;
  width: 100%;
  background-color: #000;
}

.active {
  background: transparent;
}

.active > span {
  background: #fff;
}

.active > span:first-child {
  transform: rotate(45deg) translate(0px, 4px);
  width: 120%;
}

.active > span:nth-child(2) {
  background: transparent;
}

.active > span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -12px);
  width: 120%;
}
