.wrapper {
  margin-left: 30vw;
  margin-top: var(--spacing);
  max-width: 800px;
  padding-bottom: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.wrapper input,
.wrapper textarea {
  background: none;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  max-width: 100px;
  padding: 5px 10px !important;
}

.wrapper input[type="submit"] {
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-top: var(--spacing-xsmall);
  min-height: 50px;
  min-width: 200px;
  text-decoration: none;
  padding-left: calc(var(--spacing) / 8);
  padding-right: calc(var(--spacing) / 8);
  text-transform: uppercase;
}

.wrapper input[type="submit"]:hover {
  background-color: #c9c9c9;
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 739px) {
  .wrapper {
    margin-left: 20px;
  }
}
