.content {
  composes: wrapper from "../styles/text-content.module.css";

  padding-bottom: 0;
}

.list {
  margin-left: 30vw;
  padding: 0 var(--spacing);
}

.list > ul {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--spacing) var(--spacing-small);
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  min-width: 300px;
  padding: 0;
  width: 40vw;
}

.list > ul > li {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  min-width: 100%;
}

.list > ul > li > img {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .list > ul > li {
    height: 10vh;
  }
}

@media (max-width: 867px) {
  .list > ul {
    grid-gap: var(--spacing-small) var(--spacing);
    grid-template-columns: 1fr 1fr;
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .list > ul > li {
    height: 15vh;
  }
}

@media (max-width: 739px) {
  .list {
    margin-left: 20px;
  }
}
