table,
th,
td {
  border: 1px solid var(--black);
  border-collapse: collapse;
}

.wrapper > tr > th,
.wrapper > tr > td {
  padding: 10px;
}

.wrapper {
  overflow: scroll;
}

table {
  min-width: 100%;
  table-layout: fixed;
}
